nav ul {
    display: flex;
    flex-direction: row;

    list-style: none;
    padding: 20px 38px;
    background-color: whitesmoke;
    border: #333333;
    border-top: #333333;
    border-bottom: #333333;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
}



ul li a {
    color: #333333;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    margin: 15px;
    line-height:36px;
    font-size:24px;
}

li .active {
    color:#d0021b;
}

li a:hover {
    text-decoration: underline;
}

article {
    max-width: 700px;
    margin: auto;
    
}


h1  {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    font-size:42px;
    color:rgba(0,0,0,0.84);
    text-align:left;
    line-height:44px;
    margin: 10px;
}

h2 {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    font-size:34px;
    color:rgba(0,0,0,0.84);
    text-align:left;
    line-height:39px;
    margin: 10px;
}

code {
    font-family: "Courier New", monospace;
}

p {
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    font-size:21px;
    color:rgba(0,0,0,0.84);
    text-align:left;
    line-height:33px;
    margin: 10px;
}

section {
    margin-bottom: 55px;
    margin-top: 21px;
}

.logo {
    width: 101px;
    height: 64px;
}

img {
    max-width: 700px;
    width: 100%;
    height: auto;
}

section img {
    margin-top: 43px;
    margin-bottom: 37px;
}

@media (max-width: 800px) {
    nav {
        width: 100%;
    }

    nav ul {
        flex-direction: column;
        padding: 20px;
    }

    h1 {
        font-size: 26px;    
        margin: 20px 0px;
        line-height:28px;
    }

    h2 {
        font-size: 22px;
        margin: 6px 0px;
        line-height:39px;
    }

    p {
        font-size: 18px;
        margin: 6px 0px;
        line-height:22px;   
    }

    section, section img {
        margin: 25px 20px;
    }
}